# Cosas de la carpeta raíz
node_modules/
package-lock.json
.idea/

# Cosas dentro de dnd-manager
dnd-manager/node_modules/
dnd-manager/.next/
dnd-manager/.env
dnd-manager/.env.local

node_modules/
package-lock.json
package.json
index.js
cela
/tree.txt
